doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        title UFarm- FO DASHBOARD
        link(rel='stylesheet' type='text/css' href='/css/dashboard.css')
        link(rel='stylesheet' type='text/css' href='/css/graph.css')
    body
        .container
            .title FO DASHBOARD
            .top-container
                .stat-card.cards-border
                    .data-title
                        span.text-muted Registered Farmers                    
                    .graph.graph-total.lg-txt(data-number=`${data.ufTotals}`)
                .stat-card.cards-margin.cards-border#middle-card
                    .data-title
                        span.text-muted Total Orders Placed
                    table.table#table-orders
                        thead
                            tr
                                th.text-muted.bg-light LC1
                                th.text-muted.bg-light LC2
                                th.text-muted.bg-light LC3
                                th.text-muted.bg-light LC4
                        tbody
                            tr
                                td.text-muted.text-centered
                                td.text-muted.text-centered
                                td.text-muted.text-centered
                                td.text-muted.text-centered
                    .svg-container
                        svg(width="200" height="200" id="orders")
                    .graph.graph-orders.display-none
                        .LC1(data-number=`${data.orderTotals.OLC1}`)
                        .LC2(data-number=`${data.orderTotals.OLC2}`)
                        .LC3(data-number=`${data.orderTotals.OLC3}`)
                        .LC4(data-number=`${data.orderTotals.OLC4}`)
                .stat-card.cards-border.cards-margin
                    .data-title
                        span.text-muted Produce Uploaded
                    table.table#table-uploads
                        thead
                            tr
                                th.text-muted.bg-light LC1
                                th.text-muted.bg-light LC2
                                th.text-muted.bg-light LC3
                                th.text-muted.bg-light LC4
                        tbody
                            tr
                                td.text-muted.text-centered
                                td.text-muted.text-centered
                                td.text-muted.text-centered
                                td.text-muted.text-centered
                    .graph.graph-uploads
                        .LC1(data-number=`${data.uploadTotals.UPLC1}`)
                        .LC2(data-number=`${data.uploadTotals.UPLC2}`)
                        .LC3(data-number=`${data.uploadTotals.UPLC3}`)
                        .LC4(data-number=`${data.uploadTotals.UPLC4}`)
                    .labels.text-muted.text-small
                        span LC1
                        span LC2
                        span LC3
                        span LC4
            .bottom-container
                .nav-container
                    nav.nav
                        a(href='fo/register')
                            .nav-icon
                                span.zmdi.zmdi-plus
                                .icon-text Register
                        a(href='fo/approval')
                            .nav-icon
                                span.zmdi.zmdi-storage
                                .icon-text Approvals
        script(type="text/javascript" src="/js/d3.js")            
        script(type="text/javascript" src="/js/farmerone_graphs.js")
