doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/zmdi/css/material-design-iconic-font.min.css")
        link(rel="stylesheet", href="/css/registration_form_styles.css")
        link(rel="stylesheet", href="/css/fodatatable.css")
    body
        .container
            .title REGISTERED FARMER ONES.
            div.display.display-none            
            if farmers.length
                table.table.table-striped
                    thead.thead-dark
                        tr
                            th Name
                            th ID
                            th Ward
                            th Phone                            
                            th Registration
                            th Activities
                            th.display-none DOB
                            th.display-none Gender
                            th.display-none NIN
                            th.display-none Residence
                            th.display-none Since
                            th.display-none Direction
                            th
                            th
                    tbody
                        each farmer in farmers
                            tr(data-id=`${farmer._id}`)
                                td #{farmer.name}
                                td #{farmer.username}
                                td.center-align #{farmer.ward}
                                td #{farmer.phonenumber}
                                td #{farmer.registrationdate}
                                td
                                    each act in farmer.activities
                                        |#{act}<br> 
                                td.display-none #{farmer.dob}
                                td.display-none #{farmer.gender}
                                td.display-none #{farmer.nin}
                                td.display-none #{farmer.residence}
                                td.display-none #{farmer.since}
                                td.display-none #{farmer.directions}
                                td
                                    a(href='#' class="details") Details
                                td
                                    a(href="#" class="update") Update                  
            else
                p No registrations yet.
        script(src="/js/show_table_details.js")
        script(src="/js/show_update_table.js")