doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		title UFarm Home
		link(rel="stylesheet"
			type="text/css"
			href="css/signin_signup.css")
		link(rel="stylesheet"
			type="text/css" 
			href="css/zmdi/css/material-design-iconic-font.min.css")
	body
		div(class="home-container")
			div(class="left-container")
				div(class="theme-container")
					img(src="images/theme.jpg")
				div(class="theme-text")
					div
						span(class="logo-img")
							img(src="images/stall.jpg")
						span(class="title") UFarm
					div(class="theme-para")
						p Your Heart's Desires FulFilled
						p Anytime, Anywhere
			div(class="right-container")
				div(class="signin-container sub-container")
					div(class="title-container margin10p")
						div(class="logo-container")
							span(class="logo-img")
								img(src="images/stall.jpg")
							span(class="title") UFarm
						div(class="description")
							div(class="margin10p") FRESH PRODUCE ANYTIME
					form(action="/"
						method="POST" 
						name="signin"
						onsubmit="return validate_signin()")
						div(class="input-group margin35p signin-input")
							i(class="zmdi zmdi-account icons")
							input(type="text" name="username" placeholder="UserName")
						div(class="input-group margin35p signin-input")
							i(class="zmdi zmdi-key icons")
							input(type="password" name="password" placeholder="Password")
						.section
							div(class="submit-container")
								input.submit(type="button" value="Sign in")
							div(class="prompt-signup text-muted") Don't have an account?
								span
									a(href="#" id="showSignup") SIGN UP
				div(class="signup-container sub-container display-none")
					div(class="title-container margin10p")
						div(class="logo-container")
							span(class="logo-img")
								img(src="images/stall.jpg")
							span(class="title") UFarm
						div(class="description")
							div(class="margin10p") FRESH PRODUCE ANYTIME
					div(class="text-muted center-align promo") Sign up for a FREE account today.
					form(action="/signup" method="POST" name="signup")
						section
							div(class="signup-input input-inline")
								input(type="text" name="firstname" placeholder="First Name")
							div(class="signup-input input-inline margin-4pts")
								input(type="text" name="lastname" placeholder="Last Name")
							div(class="signup-input")
								input(type="text" name="email" placeholder="Email Address")
							div(class="signup-input phoneContacts")
								div(class="flex-row")
									div(class="row-left")
										input(type="text" 
											placeholder="Phone number. (e.g. 0771234567)"
											name="phonenumber")
									div(class="row-right")
										input(type="button"
											value="Add"
											class="generate-btn addPhone")
								div(class="flex-row phone2 display-none")
									div(class="row-left")
										input(type="text"
											placeholder="Phone number. (e.g. 0771234567)"
											name="phonenumber")
									div(class="row-right")
										input(type="button"
											value="Remove"
											class="remove-btn removePhone")
							div(class="signup-input")
								input(type="text"
									name="username"
									placeholder="User Name")
							div(class="signup-input")
								input(type="password"
									name="password"
									placeholder="Password")
						section
							div(class="submit-container")
								input.submit(type="button"	id="submit"	value="Register")
							div(class="prompt-signup text-muted") Already have an account?
								span
									a(href="#" id="showSignin") SIGN IN
		script(type="text/javascript" src="/js/toggle_log.js")
		script(type="text/javascript" src="/js/validate_helpers.js")
		script(type="text/javascript" src="/js/validate.js")