doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		title UFarm Order
		link(rel="stylesheet" type="text/css" href="/css/orderform.css")
	body
		.checkout-container
			.checkout-image
				img(src="/images/stall.jpg")
			.checkout-form-container
				.title-container.margin10p
					.description
						.marginTop FRESH PRODUCE ORDER FORM
				form(name="orderform" onsubmit="return validate_order()")
					.input-container
						input(type="text", name="name" placeholder="Customer Name")
					.input-container
						input(type="text" name="phonenumber" placeholder="Phone Number")
					.input-inline
						.quantity-container
							input(type="text" placeholder="Quantity" name="quantity")
						.total-container
							input(type="text" placeholder="Total" name="total" readonly)
					if payment.length
					.input-container
						fieldset
							legend.text-muted Choose payment option
							.grid
								each option in payment
									div
										input(type="radio", name="payment" value=`${option}`)
										| #{option}
					if delivery.length
					.input-container
						fieldset
							legend.text-muted Choose delivery option
							.grid
								each option in delivery
									div
										input(type="radio", name="delivery" value=`${option}`)
										| #{option}
					.input-container
						input(type="text"
                        placeholder="Delivery Date"
                        name="deliveryDate"
                        onfocus="(this.type='date')")
					.submit-container.input-container
						input.submit(type="button" value="Place Order")
		script(type="text/javascript" src="js/validate_order.js")