doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		title UFarm Order
		link(rel="stylesheet" type="text/css" href="/css/orderform.css")
	body
		.checkout-container
			.checkout-image
				img(src="/images/stall.jpg")
			.checkout-form-container
				.title-container.margin10p
					.description
						.marginTop FRESH PRODUCE ORDER FORM
				form(name="orderform" action=`/order/?product=${productListing._id}` method="POST")
					.input-container
						input(type="text", name="name" placeholder="Customer Name")
					.input-container
						input(type="text" name="phonenumber" placeholder="Phone Number")
					.input-inline
						.quantity-container(data-quantity=`${productListing.quantity}`)
							input(type="text" placeholder="Quantity" name="quantity")
							small 
								| Available - #{productListing.quantity}&nbsp; 
								| UoM - #{productListing.uom}
						.total-container(data-price=`${productListing.price}`)
							input(type="text" placeholder="Total" name="total" readonly)
							small Price - #{productListing.price}
					if(productListing.payment.length==1)
						.input-container
							fieldset
								legend.text-muted Choose payment option
								.grid
									each option in productListing.payment
										div
											input(type="radio", name="payment" value=`${option}` checked)
											| #{option}
					else
						.input-container
							fieldset
								legend.text-muted Choose payment option
								.grid
									each option in productListing.payment
										div
											input(type="radio", name="payment" value=`${option}`)
											| #{option}
					if(productListing.delivery.length==1)
						.input-container
							fieldset
								legend.text-muted Choose delivery option
								.grid
									each option in productListing.delivery
										div
											input(type="radio", name="delivery" value=`${option}` checked)
											| #{option}
					else
						.input-container
							fieldset
								legend.text-muted Choose delivery option
								.grid
									each option in productListing.delivery
										div
											input(type="radio", name="delivery" value=`${option}`)
											| #{option}
					.input-container
						input(type="text"
                        placeholder="Delivery Date"
                        name="date"
                        onfocus="(this.type='date')")
					.submit-container.input-container
							input.submit(type="button" value="Place Order")
		script(type="text/javascript" src="/js/validate_helpers.js")
		script(type="text/javascript" src="/js/validate_order.js")