doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/zmdi/css/material-design-iconic-font.min.css")
        link(rel="stylesheet", href="/css/fodatatable.css")
    body
        .container
            .title PRODUCTS WAITING APPROVAL.
            div.display.display-none
            if products.length
                table.table.table-striped
                    thead.thead-dark
                        tr
                            th Name
                            th Phone
                            th Ward
                            th Category                            
                            th.align-center Quantity
                            th.display-none Type
                            th.display-none UoM
                            th.display-none Price
                            th.display-none Location
                            th
                            th
                    tbody
                        each product in products
                            tr
                                td #{product.name}
                                td
                                    each phone in product.phone
                                        |#{phone}<br>  
                                td #{product.ward}
                                td #{product.category} 
                                td.align-center #{product.quantity}
                                td.display-none #{product.type}
                                td.display-none #{product.uom}
                                td.display-none #{product.price}
                                td.display-none #{product.location}
                                td
                                    a(href='#' class="details") Details
                                td
                                    a(href=`/fo/approval/complete/?product=${product._id}` class="update") Approve                  
            else
                p No registrations yet.
            .farmer-details.display.formdisplay.display-none            
        script(type='text/javascript' src="/js/show_table_approvals.js")
        