doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title UFarm - Market
        link(rel="stylesheet" href="/css/product.css")
        link(rel="stylesheet" href="/css/zmdi/css/material-design-iconic-font.min.css")
    body
        .container
            .header-container
                .header-title.c-light UFarm Market
                .search-container.c-grey
                    select
                        option(value="Poultry") Poultry
                        option(value="Diary") Diary
                        option(value="Horticulture") Horticulture
                    .search
                        span.zmdi.zmdi-search
                        input(type="text", name="search" placeholder="Search vendors near you")
                    div
                        .scroll-page
                            .prev
                                input.scroll-btn(type="button" value="prev" name="prev")
                            .next
                                input.scroll-btn(type="button" value="next" name="next")
                        small Showing page 1 of 3
            .groups-container
                if listings.length
                    each produce in listings
                        .product(data-id=`${produce._id}`)
                            .image-container
                                img.images(src=`/uploads/${produce.filename}` alt="product")
                            .product-info
                                .c-grey #{produce.category}
                                .c-green.enlarge-text
                                    span UGX #{produce.price}
                                    span &nbsp;per #{produce.uom}
                                .recent.c-green.info-size
                                    span Location:
                                    span &nbsp;#{produce.location}
                                .c-grey.info-size.margintop
                                    span.members-key Stock:
                                    span.members-value &nbsp;#{produce.quantity}
                                .c-grey.info-size.margintop
                                    span Type:
                                    span &nbsp;#{produce.type}
                                .c-grey.info-size.margintop
                                    span Seller:
                                    span &nbsp;#{produce.name}
                                .c-grey.info-size.margintop
                                    span Payment:
                                    span &nbsp;#{produce.payment}
                                .c-grey.info-size.margintop
                                    span Delivery:
                                    span &nbsp;#{produce.delivery}
                                .order-container
                                    .book
                                        input(type="button", value="Book Now" name="book")
                                    .phone(data-phone=`${produce.phone.substr(0,10)}`
                                        data-vendor=`${produce.name}`)
                                        span.zmdi.zmdi-phone
        script(type="text/javascript" src="/js/show_vendor_contact.js")