doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        title UFarm- URBAN DASHBOARD
        link(rel='stylesheet' type='text/css' href='/css/dashboard.css')
        link(rel="stylesheet", href="/css/urban_upload.css")
        link(rel="stylesheet", href="/css/tables.css")
        link(rel="stylesheet", href="/css/urban_product.css")
    body
        .container
            .title #{user.name} DASHBOARD
            .uf-top-container
                .products-container
                    div.display-product.display-none                        
                    if listings.length
                        table.table.table-striped
                            thead.thead-dark
                                tr                                    
                                    th Category
                                    th Status                                                                
                                    th Price
                                    th Quantity
                                    th UoM                                    
                                    th
                            tbody
                                each product in listings
                                    tr(data-id=`${product._id}`)
                                        td #{product.category}
                                        td #{product.status}
                                        td #{product.price}
                                        td #{product.quantity}
                                        td #{product.uom}
                                        td
                                            a(href='#' class="details") Details
                                        td.display-none.show-product
                                            .product
                                                div.close-icon-container
                                                    span.close-icon X                                                
                                                .image-container
                                                    img.images(src=`/uploads/${product.filename}` alt="product")
                                                .product-info
                                                    .c-grey #{product.category}
                                                    .c-green.enlarge-text
                                                        span UGX #{product.price}
                                                        span &nbsp;per #{product.uom}                                                    
                                                    .recent.c-green.info-size
                                                        span Location:
                                                        span &nbsp;#{product.location}
                                                    .info-size.margintop(style="color:#ffc107")
                                                        span.members-key Status:
                                                        span.members-value &nbsp;#{product.status}
                                                    .c-grey.info-size.margintop
                                                        span.members-key Category:
                                                        span.members-value &nbsp;#{product.category}
                                                    .c-grey.info-size.margintop
                                                        span.members-key Stock:
                                                        span.members-value &nbsp;#{product.quantity}
                                                    .c-grey.info-size.margintop
                                                        span Type:
                                                        span &nbsp;#{product.type}
                                                    .c-grey.info-size.margintop
                                                        span Payment:
                                                        span &nbsp;#{product.payment}
                                                    .c-grey.info-size.margintop
                                                        span Delivery:
                                                        span &nbsp;#{product.delivery}
                    else
                        p No Products Added.                    
                .products-stats-container
                    .stats-new-orders
                        .stats-title.bg-new-orders New Orders
                        .total-orders.new-orders 10
                    .stats-total-orders
                        .stats-title Total Orders
                        .total-orders.total-orders-text 20             
            .bottom-container
                .nav-container
                    nav.nav
                        a(href='#' class="addProduct")
                            .nav-icon
                                .icon-text Add Product
            .display.formdisplay.display-none
                div
                    .form-title Please fill this form to add product.
                    span.close-icon X
                form(method="POST"
                    name="upload"
                    enctype="multipart/form-data"
                    action="/uf/upload")
                    .input-group.display-none
                        input(type="text" name="name" placeholder="Name" value=`${user.name}`)
                    .input-group.display-none
                        input(type="text" name="ward" placeholder="Ward" value=`${user.ward}`)
                    .input-group.display-none
                        input(type="text" name="phone" placeholder="Phone" value=`${user.phonenumber}`)
                    .input-group.display-none
                        input(type="text" name="LC" placeholder="LC" value=`${user.LC}`)
                    .input-group.display-none
                        input(type="text" name="areaAO" placeholder="areaAO" value=`${user.areaAO}`)
                    .input-group.display-none
                        input(type="text" name="areaFO" placeholder="areaFO" value=`${user.areaFO}`)
                    .input-inline
                        .input-group
                            select(name='category')
                                option(value='default' selected='' disabled='')
                                    | Category
                                option(value='Horticulture') Horticulture
                                option(value='Poultry') Poultry
                                option(value="Diary") Diary
                        .input-group
                            input.qty(type="text", name="quantity" placeholder="Quantity")                        
                    .input-inline
                        .input-group
                            .price
                                span.currency UGX
                                input(type="text" name="price" placeholder="Price per")
                        .input-group
                            input.uom(type="text" name="uom" placeholder="UOM")                                        
                    .input-group
                        fieldset
                            legend.text-muted Choose produce type.
                            .grid.type
                                div
                                    input(type="radio", value="Organic" name="type")
                                    | Organic
                                div
                                    input(type="radio" name="type" value="None Organic")
                                    | None Organic
                    .input-group
                        fieldset
                            legend.text-muted Mode of Payment
                            .grid.payment
                                div
                                    input(type="checkbox" name="payment" value="Mobile Money")
                                    | Mobile Money
                                div
                                    input(type="checkbox" name="payment" value="Cash")
                                    | Cash
                    .input-group
                        fieldset
                            legend.text-muted Mode of Delivery
                            .grid.delivery
                                div
                                    input(type="checkbox" name="delivery" value="Pickup")
                                    | Pickup
                                div
                                    input(type="checkbox" name="delivery" value="Delivery")
                                    | Delivery
                    .input-group
                        input(type="text" name="location" placeholder="Location")
                    .input-group
                        fieldset
                            legend.text-muted Upload image
                            input(type="file" name="image")
                    .section
                        div(class="submit-container")
                            input.submit(type="button" value="Add Product")
        script(type='text/javascript' src='/js/validate_helpers.js')
        script(type='text/javascript' src='/js/validate_product.js')
        script(type='text/javascript' src="/js/show_urban_product.js")
